<link rel="stylesheet" href="../../css/paginate.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<div class="products">
	<h1 class="title">PRODUCTOS</h1>
	<div class="products-container">
		{{#each response.payload}}
		<div class="product-card">
			<div class="product-info">
				<h2 class="product-title">{{this.title}}</h2>
				<p class="product-price">${{this.price}}</p>
				<p class="product-description">{{this.description}}</p>
				<p class="product-stock">stock: {{this.stock}}</p>
				<p class="product-category">{{this.category}}</p>
			</div>
			<button class="add-button" id="{{this._id}}">Agregar al carrito</button>
		</div>
		{{else}}
		<p>no hay productos disponibles</p>
		{{/each}}
	</div>
</div>
<div class="pagination">
	<!-- Ir a la primera página -->
	<a id="first-page-button" class="pagination-button">Primera página</a>

	<!-- Ir a la página anterior -->
	<a page="{{response.prevPage}}" id="prev-page-button" class="pagination-button">Anterior</a>

	<!-- Ver la página actual -->
	<span class="current-page">{{response.page}}/{{response.totalPages}}</span>

	<!-- Ir a la página siguiente -->
	<a page="{{response.nextPage}}" id="next-page-button" class="pagination-button">Siguiente</a>

	<!-- Ir a la última página -->
	<a page="{{response.totalPages}}" id="last-page-button" class="pagination-button">Última página</a>
	<script src="../js/paginate.js"></script>
	<script src="../js/cart.js"></script>
</div>
</div>