<link rel="stylesheet" href="../../css/form.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<div class="page">
	<div class="form-container">
		<h1>Agregar producto</h1>
		<form class="product-form" id="form">
			<div class="form-group">
				<input type="text" id="title" name="title" placeholder="Nombre del producto" required>
			</div>

			<div class="form-group">
				<textarea id="description" name="description" rows="3" placeholder="Descripción" required></textarea>
			</div>

			<div class="form-group">
				<input type="number" id="price" name="price" placeholder="Precio" required>
			</div>

			<div class="form-group">
				<input type="text" id="code" name="code" placeholder="Código" required>
			</div>

			<div class="form-group">
				<input type="number" id="stock" name="stock" placeholder="Stock" required>
			</div>

			<div class="form-group">
				<input type="text" id="category" name="category" placeholder="Categoría" required>
			</div>

			<div class="form-group">
				<button type="submit" class="submit-btn" id="submit">Añadir Producto</button>
			</div>
		</form>
	</div>
	<hr>
	<div class="products">
		<h1 class="title">PRODUCTOS</h1>
		<div class="products-container">
			{{#each products}}
			<div class="product-card">
				<div class="product-info">
					<h2 class="product-title">{{this.title}}</h2>
					<p class="product-price">${{this.price}}</p>
					<p class="product-description">{{this.description}}</p>
					<p class="product-stock">stock: {{this.stock}}</p>
					<p class="product-category">{{this.category}}</p>
				</div>
				<button class="delete-button" onclick="deleteProduct(event)" id="{{this.code}}">Eliminar</button>
			</div>
			{{/each}}
		</div>
	</div>
</div>
<script src="../../../socket.io/socket.io.js"></script>
<script src="../../js/form.js"></script>